################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch17rev.docx
/~$h17rev.docx
/BLUE.ChocAn/bin/Debug/BLUE.ChocAn.vshost.exe.manifest
/BLUE.ChocAn/bin/Debug/ChocAn Terminal.exe.config
/BLUE.ChocAn/bin/Debug/ChocAn Terminal.vshost.exe.config
/BLUE.ChocAn/bin/Debug/ChocAn Terminal.vshost.exe.manifest
